<form method="post" action="{{ path('etablissement_delete', {'idEtab': etablissement.idEtab}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etablissement.idEtab) }}">
    <button class="btn">Delete</button>
</form>
