<form method="post" action="{{ path('scoreapprox_delete', {'id': scoreapprox.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ scoreapprox.id) }}">
    <button class="btn">Delete</button>
</form>
