{% extends 'base-houssem.html.twig' %}

{% block title %}New Scoreapprox{% endblock %}

{% block body %}
    <h1>Create new Scoreapprox</h1>
        <form action="" class="uk-grid " uk-grid="">
            <table class="table">
                <tbody>
                <tr>
                    <th>Années</th>
                    <td>2020</td>
                    <td>2019</td>
                    <td>2018</td>
                    <td>2017</td>
                    <td>2016</td>
                    <td>Resultat</td>

                </tr>
                <tr>
                    <th>Score Bac Eco</th>
                    <td><input type="number"   class="Score1Eco text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"   class="Score2Eco text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"   class="Score3Eco text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"   class="Score4Eco text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"   class="Score5Eco text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number" class="text-center scoreEco text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small" max="200" min="0" step="0.25" disabled="" autocomplete="off" maxlength="5">
                    </td>
                    

                </tr>
                <tr>
                    <th>Score Bac INFO</th>
                    <td><input type="number" class="Score1Info text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score2Info text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score3Info text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score4Info text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score5Info text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number" class="text-center scoreInfo text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small" max="200" min="0" step="0.25" disabled="" autocomplete="off" maxlength="5">
                    </td>
                </tr>
                <tr>
                    <th>Score Bac Lettres</th>
                    <td><input type="number"  class="Score1Let text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score2Let text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score3Let text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score4Let text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score5Let text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number" class="text-center scoreLet text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small" max="200" min="0" step="0.25" disabled="" autocomplete="off" maxlength="5">
                    </td>
                </tr>
                <tr>
                    <th>Score Bac Math</th>
                    <td><input type="number"  class="Score1Math text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score2Math text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score3Math text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score4Math text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score5Math text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number" class="text-center scoreMath text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small" max="200" min="0" step="0.25" disabled="" autocomplete="off" maxlength="5">
                    </td>
                </tr>
                <tr>
                    <th>Score Bac Science</th>
                    <td><input type="number"  class="Score1Sc text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score2Sc text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score3Sc text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td>
                        <input type="number"  class="Score4Sc text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score5Sc text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number" class="text-center scoreSc text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small" max="200" min="0" step="0.25" disabled="" autocomplete="off" maxlength="5">
                    </td>
                </tr>
                <tr>
                    <th>Score Bac Sport</th>
                    <td><input type="number"  class="Score1Sp text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score2Sp text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score3Sp text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score4Sp text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score5Sp text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number" class="text-center scoreSp text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small" max="200" min="0" step="0.25" disabled="" autocomplete="off" maxlength="5">
                    </td>
                </tr>
                <tr>
                    <th>Score Bac Technique</th>
                    <td><input type="number"  class="Score1Tech text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score2Tech text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score3Tech text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score4Tech text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number"  class="Score5Tech text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small"  max="200" min="0" step="0.5" placeholder="0" autocomplete="off" maxlength="5">
                    </td>
                    <td><input type="number" class="text-center scoreTech text-center uk-form-controls uk-border-rounded p-10 br-1 bgb-blue uk-input input-mask uk-form-width-small" max="200" min="0" step="0.25" disabled="" autocomplete="off" maxlength="5">
                    </td>
                </tr>
                
                </tbody>
            </table>
        </form>
            <button onclick="return(calculerScore())" value="Envoyer" class="btn-primary btn medium large">Calculer
            </button>
            <script type="text/javascript">

                function calculerScore(){
                    var score1 = 0;
                    var score2 = 0;
                    var score3 = 0;
                    var score4 = 0;
                    var score5 = 0;
                    var score6 = 0;
                    var score7 = 0;



                    n1 = parseFloat($('.Score1Eco').val());
                    n2 = parseFloat($('.Score2Eco').val());
                    n3 = parseFloat($('.Score3Eco').val());
                    n4 = parseFloat($('.Score4Eco').val());
                    n5 = parseFloat($('.Score5Eco').val());


                    n1i = parseFloat($('.Score1Info').val());
                    n2i = parseFloat($('.Score2Info').val());
                    n3i = parseFloat($('.Score3Info').val());
                    n4i = parseFloat($('.Score4Info').val());
                    n5i = parseFloat($('.Score5Info').val());

                    n1l = parseFloat($('.Score1Let').val());
                    n2l = parseFloat($('.Score2Let').val());
                    n3l = parseFloat($('.Score3Let').val());
                    n4l = parseFloat($('.Score4Let').val());
                    n5l = parseFloat($('.Score5Let').val());

                    n1m = parseFloat($('.Score1Math').val());
                    n2m = parseFloat($('.Score2Math').val());
                    n3m = parseFloat($('.Score3Math').val());
                    n4m = parseFloat($('.Score4Math').val());
                    n5m = parseFloat($('.Score5Math').val());

                    n1s = parseFloat($('.Score1Sc').val());
                    n2s = parseFloat($('.Score2Sc').val());
                    n3s = parseFloat($('.Score3Sc').val());
                    n4s = parseFloat($('.Score4Sc').val());
                    n5s = parseFloat($('.Score5Sc').val());

                    n1sp = parseFloat($('.Score1Sp').val());
                    n2sp = parseFloat($('.Score2Sp').val());
                    n3sp = parseFloat($('.Score3Sp').val());
                    n4sp = parseFloat($('.Score4Sp').val());
                    n5sp = parseFloat($('.Score5Sp').val());

                    n1t = parseFloat($('.Score1Tech').val());
                    n2t = parseFloat($('.Score2Tech').val());
                    n3t = parseFloat($('.Score3Tech').val());
                    n4t = parseFloat($('.Score4Tech').val());
                    n5t = parseFloat($('.Score5Tech').val());



                        score1 = (n1 + n2 + n3 + n4 +  n5)/5;
                    score2 = (n1i + n2i + n3i + n4i +  n5i)/5;
                    score3 = (n1l + n2l + n3l + n4l +  n5l)/5;
                    score4 = (n1m + n2m + n3m + n4m +  n5m)/5;
                    score5 = (n1s + n2s + n3s + n4s +  n5s)/5;
                    score6 = (n1sp + n2sp + n3sp + n4sp +  n5sp)/5;
                    score7 = (n1t + n2t + n3t + n4t +  n5t)/5;
                        $('.scoreEco').val(score1);
                    $('.scoreInfo').val(score2);
                    $('.scoreLet').val(score3);
                    $('.scoreMath').val(score4);
                    $('.scoreSc').val(score5);
                    $('.scoreSp').val(score6);
                    $('.scoreTech').val(score7);



                        document.getElementById('scoreapprox_ScoreECO').value= score1;
                    if(isNaN(document.getElementById('scoreapprox_ScoreECO').value)){document.getElementById('scoreapprox_ScoreECO').value= 0;}
                        document.getElementById('scoreapprox_ScoreECO').defaultValue= 0;





                        document.getElementById('scoreapprox_ScoreINFO').value= score2;
                    if(isNaN(document.getElementById('scoreapprox_ScoreINFO').value)){document.getElementById('scoreapprox_ScoreINFO').value= 0;}
                        document.getElementById('scoreapprox_ScoreINFO').defaultValue= 0;



                        document.getElementById('scoreapprox_ScoreLET').value= score3;
                    if(isNaN(document.getElementById('scoreapprox_ScoreLET').value)){document.getElementById('scoreapprox_ScoreLET').value= 0;}
                        document.getElementById('scoreapprox_ScoreLET').defaultValue= 0;



                        document.getElementById('scoreapprox_ScoreMATH').value= score4;
                    if(isNaN(document.getElementById('scoreapprox_ScoreMATH').value)){document.getElementById('scoreapprox_ScoreMATH').value= 0;}
                        document.getElementById('scoreapprox_ScoreMATH').defaultValue= 0;


                        document.getElementById('scoreapprox_ScoreSc').value= score5;
                    if(isNaN(document.getElementById('scoreapprox_ScoreSc').value)){document.getElementById('scoreapprox_ScoreSc').value= 0;}
                        document.getElementById('scoreapprox_ScoreSc').defaultValue= 0;


                        document.getElementById('scoreapprox_ScoreSPORT').value= score6;
                    if(isNaN(document.getElementById('scoreapprox_ScoreSPORT').value)){document.getElementById('scoreapprox_ScoreSPORT').value= 0;}
                        document.getElementById('scoreapprox_ScoreSPORT').defaultValue= 0;


                        document.getElementById('scoreapprox_ScoreTECH').value= score7;
                    if(isNaN(document.getElementById('scoreapprox_ScoreTECH').value)){document.getElementById('scoreapprox_ScoreTECH').value= 0;}
                        document.getElementById('scoreapprox_ScoreTECH').defaultValue= 0;




                }

            </script>

    {{ include('scoreapprox/_form.html.twig') }}


{% endblock %}
