{% extends 'base-houssem.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}

        <h1>Creation d'un Article !</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}





{% endblock %}