{% extends 'base.html.twig' %}

{% block title %}Edit Cours{% endblock %}

{% block body %}
    <h1>Edit Cours</h1>

    {{ include('cours/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('cours/_delete_form.html.twig',{'id_Etab':id_Etab.getIdEtab}) }}
{% endblock %}
